@use '/src/styles/global' as g;

.hello-world-button {
    background-color: g.$button-bg-color ;
    color: g.$button-font-color;
    font-size: g.$button-font-size;
    font-weight: bold;
}

.hello-world-text {
    color: g.$text-font-color;
}